.container {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #545e75;
    width: 100%;
    height: 95vh;

    justify-content: center;
    align-items: center;



}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #545e75;
    border-top: 2px solid #545e75;

}

.barra {
    display: flex;
    background-color: #3f826d;

}

.barra_pages {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3f826d;
    margin-bottom: 10px;
}

.buttons {
    background-color: #3f826d;
    color: #f7f7ff;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;

}

.celula{
    padding: 10px;
    border: 1px solid #545e75;
    text-align: center;
    vertical-align: middle;

}

/* cadastro de produto*/

.input_td{
    border: none;
    width: 100%;
    font-size: 16px;
    outline:none;
}
.formProduto{
    width: 100%;
}
